#pokemonGeneralInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;        
    column-gap: 15rem;    
    width: 50%;
    margin: 0 auto;       
}

#searchBar{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#searchBar > input[type="text"]{
    width: 50%;
}

#searchBar > h1{
    font-size: calc(2.5rem + 1vw);
}

#pokemon-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
    gap: 2.5rem 40rem;
}

#pokemon-card{
    display: flex;
    flex-direction: column;        
}

#type-box{
    display: flex;
    column-gap: 0.75rem;
}

#type-list{
    display: flex;
    column-gap: 0.25rem;
}

.type-item{
    display: block;
    background-color: red;    
    text-align: center;    
    color: white;
    max-width: 10rem;
    max-height: 3rem;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
}

#add-to-pokedex-btn{
    min-width: 30rem;
}

#pokedex > h1{       
    text-align: center;
    margin-top: 5rem;
    font-size: calc(2.5rem + 1vw);
}

#pokemon-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 5rem 7rem;            
    margin: 0 2rem;
}

.pokemon-item{
    display: flex;
    flex-direction: column;    
    min-width: 16rem;
    height: auto;
    text-align: center;
}

.pokemon-item > h2{
    font-size: calc(1.5rem + 1vw);;
}

::placeholder {
    color: lightgray;
}

/*background color for each type*/
.normal{
    background-color: #A8A77A;
}

.dark{
    background-color: #705746;
}

.fire{
    background-color: #EE8130;
}

.water{
    background-color: #6390F0;
}

.electric{
    background-color: #F7D02C;
}

.grass{
    background-color: #7AC74C;
}

.ice{
    background-color: #96D9D6;
}

.fighting{
    background-color: #C22E28;
}

.poison{
    background-color: #A33EA1;
}

.ground{
    background-color: #E2BF65;
}

.flying{
    background-color: #A98FF3;
}

.psychic{
    background-color: #F95587;
}

.bug{
    background-color: #A6B91A;
}

.rock{
    background-color: #B6A136;
}

.ghost{
    background-color: #735797;
}

.dragon{
    background-color: #6F35FC;
}

.dark{
    background-color: #705746;
}

.steel{
    background-color: #B7B7CE;
}

.fairy{
    background-color: #D685AD;
}

.stellar{
    background-color: #40B5A5;
}

.unknown{
    background-color: #68A090;
}